<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BajaMarkt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>Welcome to BajaMarkt</h1>

    <p></p>

    <a href="/products" class="btn btn-primary me-2">Products</a>
    <a href="/categories" class="btn btn-secondary">Categories</a>
    <a href="/products" class="button">Products</a>
    <a href="/categories" class="button">Categories</a>

</body>
</html>